<!-- Modal de Acertos e Erros -->
<div class="modal fade" id="treinoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{messageTitle}}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3>{{messageInfo}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="terminarTreino();">Terminar treino</button>
          <button type="button" class="btn btn-primary" (click)="novoTreino();">Novo treino</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal de Finalizar Treino -->
<div class="modal fade" id="finalizarTreino" tabindex="-1" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{messageTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" #relatorio></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Tabuada</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="tabuadaForm" (ngSubmit)="onSubmit(this.tabuadaForm.value)">
                        
                        <div class="form-group">
                            {{tabuada.numero1}} x {{this.tabuada.numero2}}

                            <label>Resultado</label>
                            <input type="text" class="form-control" formControlName="resultado">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" (click)="openFormModal()">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


